# Base de données MariaDB (Utilise la BD existante du projet microservices)
DB_HOST=192.168.56.115
DB_PORT=3306
DB_USER=devops_user
DB_PASSWORD=devops_password
DB_NAME=ecommerce_db
DB_CONNECT_TIMEOUT=60000

# Serveur
PORT=3000
NODE_ENV=production

# JWT
JWT_SECRET=votre_secret_jwt_super_securise_changez_moi
JWT_EXPIRATION=24h

# CORS
ALLOWED_ORIGINS=http://localhost:5173,http://www.ecommerce.local,http://ecommerce.local

# Logs
LOG_LEVEL=info
